*{
    margin: 0;
    padding: 0;

}
 body{
    background-color: aquamarine;
    text-align: center;
 }
 button{
    background-color: burlywood;
    color: black;
    width: 120px;
    height: 145px;
    /* display: flex;  */
    border-radius: 10px;
    font-size: 50px;


 }
 .tic{
   height: 60px;
  width: 400px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 50px;


 }
 .container{
    height: 60vh;
    width: 500px;
    margin-left: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

 }
 .box{
   border-radius: 20px;
 }
 .restart{
   height: 40px;
   width: 95px;
   font-size: smaller;
   position: fixed;
   bottom: 70px;
   left: 650px;
   background-color: black;
   color: azure;
}
.para{
   position: fixed;
   bottom: 120px;
   left:650px ;
   font-size:bold;
   
}
#clue{
   background-color: blue;
   position: fixed;
   bottom: 5px;
   left: 445px;
}